<div class="forms">
	<div class="box select_option">
		<div class="heading">
			<h1>Escolha uma opção</h1>
		</div>
		<div class="content_nb">
			<div class="option create_form">
				<a href="#/forms/create" class="wrap">
					<span><div class="glyphicon glyphicon-plus-sign"></div></span>

					<h2>Criar um questionário</h2>

					<p>Crie um questionário para seus Pesquisadores, Coordenadores e inicie sua pesquisa de campo.</p>
				</a>
			</div>

			<div class="option search_form">
				<a href="#/forms/list" class="wrap">
					<span><div class="glyphicon glyphicon-search"></div></span>

					<h2>Procurar por questionário</h2>

					<p>Ah! Você já criou um questionário previamente? Não se preocupe, apenas procure-o.</p>
				</a>
			</div>
		</div>
	</div>
</div>